# -*- mode: gitignore; -*-

**/*.cache
*.DS_Store
*.db
*.elc
*.elc
*.orig
*.pyc
*.rel
*.stackdump
*_archive
*_flymake.*
*~
*~
.DS_Store
.\#*
.atom
.atom/.apm
.atom/blob-store
.c2/
.cask/
.cask/
.composer/auth.json
.composer/cache
.composer/vendor
.config
.emacs.desktop
.emacs.desktop.lock
.litable-lists.el
.org-id-locations
.places
.python-environments/
.rc.d/private.sh
.recentf
.recentf~
.smex-items
.sx/
.vim/.netrwhist
.vim/plugged
.zshrc.d/private.sh
/*.zip
/.emacs.desktop
/.emacs.desktop.lock
/.my-keybindings.el.swp
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/games/
/history
/init.el*
/url/cookies
Cask
TODO.org
\#*
\#*\#
ac-comphist.dat
auto-save-list
auto-save-list/
bookmarks
caches
crown/
edts/
elnode/
elpa/
eproject.lst
eshell/alias
eshell/history
eshell/lastdir
link/.vim
modules/spacemacs/srecode-map.el*
my-org/
network-security.data
org-files/
projectile-bookmarks.eld
projectile.cache
python-*-docs-html
request/
semanticdb/
server/
tmp/
tramp
tramp
var/
