[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/git"]
	path = .vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/unimpared"]
	path = .vim/bundle/unimpared
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/BufOnly"]
	path = .vim/bundle/BufOnly
	url = https://github.com/vim-scripts/BufOnly.vim.git
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/php-namespace"]
	path = .vim/bundle/php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
[submodule ".vim/bundle/scss"]
	path = .vim/bundle/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule ".vim/bundle/php-getter-setter"]
	path = .vim/bundle/php-getter-setter
	url = https://github.com/docteurklein/php-getter-setter.vim.git
[submodule ".vim/bundle/smartinput"]
	path = .vim/bundle/smartinput
	url = https://github.com/kana/vim-smartinput.git
[submodule ".vim/bundle/commaobject"]
	path = .vim/bundle/commaobject
	url = https://github.com/austintaylor/vim-commaobject.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vimux"]
	path = .vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule ".vim/bundle/go"]
	path = .vim/bundle/go
	url = https://github.com/fsouza/go.vim.git
[submodule ".vim/bundle/movar"]
	path = .vim/bundle/movar
	url = https://github.com/robmiller/vim-movar.git
[submodule ".vim/bundle/funcoo"]
	path = .vim/bundle/funcoo
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule ".vim/bundle/abolish"]
	path = .vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/lusty"]
	path = .vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule ".vim/bundle/rust"]
	path = .vim/bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/scala"]
	path = .vim/bundle/scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule ".vim/bundle/elixir"]
	path = .vim/bundle/elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/editorconfig"]
	path = .vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/yajs"]
	path = .vim/bundle/yajs
	url = https://github.com/othree/yajs.vim.git
