.atom/.node-gyp
.atom/packages
.atom/storage
.config/configstore
.config/fish/fish_history
.config/fish/fishd.*
.config/fish/generated_completions
.config/fish/private.fish
.config/learnyounode
.config/npm-updater
.config/robomongo
.config/stream-adventure
.dropbox-master
.gist-vim
.heroku/*
.hobo
.irssi
.mongorc.js
.neocomplcache
.nvm-fish
.redis
.rediscli_history
.viminfo.tmp
*.DS_Store
*.orig
**/*.cache
*~
/.bash_history
/.bower
/.bundle
/.cabal
/.cache
/.certs
/.CFUserTextEncoding
/.chef
/.codeintel
/.composer
/.cups
/.dropbox
/.fontconfig
/.gem
/.ghc/*
/.gitk
/.guard_history
/.history
/.irb_history
/.irb-history
/.lesshst
/.MacOSX
/.macports
/.mysql_history
/.neocon
/.netrc
/.node-gyp
/.npm
/.oh-my-zsh
/.php_history
/.phpenv
/.rbenv
/.rnd
/.rvm
/.sh_history
/.ssh
/.ssl
/.subversion
/.terminfo
/.Trash
/.vagrant.d
/.vim/*
/.viminfo
/.vimswap
/.vimundo
/.vimviews
/.yeoman
/.zcompdump
/.zsh_history
/bin/behat
/chef
/composer.lock
/Desktop
/Documents
/Downloads
/Dropbox
/gatling-recorder.ini
/Google Drive
/Library
/Movies
/Music
/o-rdoc
/Pictures
/Public
/Sites
/src
/vagrant
/vendor
/VirtualBox VMs
/VMWare VMs
Applications/*
bin/*
mongorc
node_modules/*
