*.DS_Store
*.orig
**/*.cache
.config
.composer/auth.json
.composer/vendor
.composer/cache
.rc.d/private.sh
.zshrc.d/private.sh
.atom/.apm
.atom/blob-store
.vim/.netrwhist
caches
.vim/plugged
link/.vim
.atom
