"*":
  "advanced-new-file":
    createFileInstantly: true
    showFilesInAutoComplete: true
  "atom-color-highlight": {}
  "atom-material-ui":
    colors:
      abaseColor:
        alpha: 1
        blue: 66
        green: 66
        red: 66
      accentColor:
        alpha: 1
        blue: 121
        green: 251
        red: 212
    fonts: {}
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      animations: false
  "atom-ternjs":
    displayAboveSnippets: true
    excludeLowerPriorityProviders: true
    lint: false
    useSnippets: true
    useSnippetsAndFunction: true
  "autoclose-html": {}
  "autocomplete-plus":
    autoActivationDelay: 50
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab and enter"
    enableAutoConfirmSingleSuggestion: false
    enableBuiltinProvider: false
    fileBlacklist: [
      ".md"
    ]
    includeCompletionsFromAllBuffers: true
    minimumWordLength: 2
    strictMatching: true
    suggestionListFollows: "Cursor"
  core:
    disabledPackages: [
      "autocomplete-elixir"
      "build-elixir"
      "elixir-cmd"
      "linter-phpmd"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
    ]
    projectHome: "/Users/astead/src"
  editor:
    fontFamily: "Operator Mono"
    invisibles: {}
    lineHeight: 1.6
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    useShadowDOM: true
  emmet: {}
  "exception-reporting":
    userId: "3b647e39-b328-1d59-ffad-e3bb6e24f723"
  "git-projects":
    rootPath: "/Users/ali/src"
  jumpy:
    fontSize: 0.851
    highContrast: true
  linter:
    ignoredLinterErrors: [
      "php"
      "phpcs"
    ]
    showErrorPanel: false
    showErrorTabFile: false
    statusBar: "Show error of the selected line"
    subtleLinterErrors: [
      "phpmd"
    ]
  "linter-js-standard":
    checkStyleDevDependencies: true
    lintMarkdownFiles: true
    showEslintRules: true
  "markdown-table-formatter":
    autoSelectEntireDocument: false
  metrics:
    userId: "993232f0e07e444482a314d43c08c5c6eb7e8ab5"
  minimap:
    absoluteMode: true
    plugins:
      pigments: true
  "one-dark-ui":
    layoutMode: "Compact"
  pigments: {}
  tabs: {}
  "test-status": {}
  "tool-bar":
    position: "Left"
  "tree-view": {}
  "unity-dark-ui":
    showIcons: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
".angular.html.text":
  editor:
    preferredLineLength: 120
".attribute-values.js.jsx.source":
  editor:
    preferredLineLength: 120
".js.jsx.react.source":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
".js.regexp.source":
  editor:
    preferredLineLength: 120
".js.source":
  editor:
    preferredLineLength: 120
".js.source.subtlegradient":
  editor:
    preferredLineLength: 120
