"*":
  "advanced-new-file":
    createFileInstantly: true
    showFilesInAutoComplete: true
  "atom-color-highlight": {}
  "atom-material-ui":
    fonts:
      useRoboto: true
      useRobotoInUI: true
    panels:
      depth: true
      panelContrast: true
    tabs:
      rippleAccentColor: true
      showTabIcons: "Show on all tabs"
      tabSize: "Small"
    treeView:
      compactTreeView: true
    ui:
      accentColor: "Green"
      slimScrollbar: true
  "atom-ternjs":
    documentation: false
    excludeLowerPriorityProviders: true
    guess: false
    inlineFnCompletion: false
    lint: false
    origins: false
    urls: false
    useSnippets: true
    useSnippetsAndFunction: true
  "autoclose-html": {}
  "autocomplete-plus":
    autoActivationDelay: 50
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab and enter"
    enableAutoConfirmSingleSuggestion: false
    fileBlacklist: [
      ".md"
    ]
    includeCompletionsFromAllBuffers: true
    minimumWordLength: 2
    strictMatching: true
    suggestionListFollows: "Cursor"
  core:
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
    ]
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    lineHeight: 1.6
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    useShadowDOM: true
  emmet: {}
  "exception-reporting":
    userId: "3b647e39-b328-1d59-ffad-e3bb6e24f723"
  "git-projects":
    rootPath: "/Users/ali/src"
  jumpy:
    fontSize: 0.851
    highContrast: true
  linter:
    ignoredLinterErrors: [
      "php"
      "phpcs"
    ]
    showErrorPanel: false
    showErrorTabFile: false
    statusBar: "Show error of the selected line"
    subtleLinterErrors: [
      "phpmd"
    ]
  "linter-js-standard":
    checkStyleDevDependencies: true
    lintMarkdownFiles: true
    showEslintRules: true
  "markdown-table-formatter":
    autoSelectEntireDocument: false
  metrics:
    userId: "993232f0e07e444482a314d43c08c5c6eb7e8ab5"
  minimap:
    absoluteMode: true
    plugins:
      pigments: true
  pigments: {}
  tabs: {}
  "test-status": {}
  "tool-bar":
    position: "Left"
  "tree-view": {}
  "unity-dark-ui":
    showIcons: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
".angular.html.text":
  editor:
    preferredLineLength: 120
".attribute-values.js.jsx.source":
  editor:
    preferredLineLength: 120
".js.jsx.react.source":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
".js.regexp.source":
  editor:
    preferredLineLength: 120
".js.source":
  editor:
    preferredLineLength: 120
".js.source.subtlegradient":
  editor:
    preferredLineLength: 120
