packages: [
  "advanced-open-file"
  "angularjs"
  "api-blueprint-preview"
  "atom-beautify"
  "atom-fuzzy-grep"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-ternjs"
  "autocomplete-paths"
  "behat-atom"
  "dash"
  "dictionary"
  "editorconfig"
  "emmet"
  "focus-dark"
  "focus-light"
  "gist-it"
  "git-blame"
  "git-projects"
  "html-entities"
  "imdone-atom"
  "js-patterns-atom-snippets"
  "jumpy"
  "key-peek"
  "language-api-blueprint"
  "language-diff"
  "language-docker"
  "language-gherkin"
  "language-puppet"
  "language-scala"
  "language-varnish"
  "language-vcl"
  "linter"
  "linter-alex"
  "linter-js-standard"
  "linter-jshint"
  "linter-less"
  "linter-php"
  "linter-phpcs"
  "linter-phpmd"
  "linter-scalac"
  "move-panes"
  "package-sync"
  "pain-split"
  "pane-layout-plus"
  "php-introspector"
  "pigments"
  "regex-railroad-diagram"
  "seti-syntax"
  "seti-ui"
  "sort-lines"
  "ssh-config"
  "standard-formatter"
  "swap-panes"
  "tasks"
  "terminal-plus"
  "test-status"
  "todo-show"
  "toggle-quotes"
  "travis-ci-status"
  "unity-ui"
  "vim-mode"
]
