body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -webkit-text-stroke: 0.4px;
}

.editor {
    /* the editor is monospaced, no kerning and ligatures */
    text-rendering: optimizeSpeed;
}

.tree-view {
  -webkit-text-stroke: 0.6px;
}

.heading-1 {
  font-size: 4em !important;
}

.heading-2 {
  font-size: 2rem;
}

.heading-3 {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
