"*":
  "advanced-open-file":
    createDirectories: true
    defaultInputValue: "Project root"
    fuzzyMatch: true
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-datatip":
      datatipDebounceDelay: 100
      datatipInteractedWithDebounceDelay: 700
    "atom-ide-debugger":
      showDebuggerOnBpSet: false
    "atom-ide-diagnostics-ui": {}
    "atom-ide-outline-view": {}
    "atom-ide-terminal":
      fontFamily: "Dank Mono"
      lineHeight: 1.8
    use: {}
  "atom-material-ui":
    colors:
      abaseColor: "#2e7df6"
      accentColor: "#b2caef"
      genAccent: true
      paintCursor: true
    fonts: {}
    tabs: {}
    ui:
      panelContrast: true
      panelShadows: true
  "atom-yarn": {}
  "autocomplete-paths":
    enableHtmlSupport: true
    ignoreSubmodules: true
  "autocomplete-ruby":
    rsensePath: "/Users/alistairstead/.rbenv/shims/rsense"
  build:
    scrollOnError: true
    stealFocus: false
  core:
    closeDeletedFileTabs: true
    debugLSP: true
    disabledPackages: [
      "whitespace"
      "about"
      "background-tips"
      "linter"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-ide-dark-syntax"
    ]
    titleBar: "custom"
    uriHandlerRegistration: "always"
    useTreeSitterParsers: true
  "css-declaration-sorter":
    formatOnSave: false
    sortOrder: "concentric-css"
  editor:
    fontFamily: "Dank Mono, Operator Mono, monospace"
    fontSize: 19
    lineHeight: 1.6
    scrollPastEnd: true
    showCursorOnSelection: false
  "elm-format": {}
  elmjutsu:
    autocompleteFuzzyFilteringEnabled: true
    autocompleteMaxSuggestions: 10
    autocompleteSnippetsEnabled: true
    enhancedElmMakeMessages: false
    globalAutocompleteEnabled: true
    inferExpectedTypeAtCursorOnTheFly: true
    inferTypeOfSelectionOnTheFly: true
    showScopeBar: true
    showTypesInTooltip: true
    typeAwareAutocompleteEnabled: true
  "exception-reporting":
    userId: "c473c66b-c8ca-47e9-bf99-f446c10febf9"
  "file-icons": {}
  "gist-it":
    newGistsDefaultToPrivate: true
    openAfterCreate: true
  "git-blame":
    colorCommitAuthors: true
    columnWidth: 426
    showHash: false
  "git-plus":
    commits:
      verboseCommits: true
    diffs:
      useSplitDiff: true
      wordDiff: true
    experimental:
      autoFetch: 60
      autoFetchNotify: true
    general:
      enableStatusBarIcon: false
      splitPane: "Right"
    tags:
      signTags: true
  github:
    gitDiagnostics: true
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  "highlight-line":
    enableBackgroundColor: false
  "ide-html":
    additionalGrammars: [
      "text.hbs"
    ]
    gohtmlSupport: false
  "ide-java":
    errors:
      incompleteClasspathSeverity: "ignore"
    virtualMachine: {}
  "ide-php":
    phpPath: "/usr/local/bin/php"
  "ide-typescript":
    returnTypeInAutocomplete: "right"
  "language-elm":
    autocompleteEnabled: false
  "linter-elm-make": {}
  "linter-ui-default":
    gutterPosition: "Left"
    panelHeight: 300
    showStatusBar: false
  "markdown-preview":
    useGitHubStyle: true
  pigments:
    autocompleteSuggestionsFromValue: true
    dismissableReloadNotifications: false
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    groupPaletteColors: "by file"
  "platformio-ide-terminal":
    style: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierEslintOptions:
      prettierLast: true
    prettierOptions:
      semi: true
    useEditorConfig: true
  "regex-railroad-diagram": {}
  "status-bar":
    selectionCountFormat: "[%L, %C]"
  tabs:
    enableVcsColoring: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    squashDirectoryNames: true
  "vim-mode-plus":
    autoSelectPersistentSelectionOnOperate: false
    statusBarModeStringStyle: "long"
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
  "which-key":
    keystrokesFormat: "symbol"
    useMetaForAlt: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
    removeTrailingWhitespace: false
  zentabs:
    neverCloseUnsaved: true
