# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson

'body, atom-panel.modal':
  'ctrl-n': 'unset!'
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'

'atom-workspace':
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
  'ctrl-e': 'platformio-ide-terminal:toggle'

'.platform-darwin atom-workspace':
  'cmd-t cmd-j': 'platformio-ide-terminal:next'
  'cmd-t cmd-k': 'platformio-ide-terminal:prev'
  'cmd-t cmd-t': 'platformio-ide-terminal:toggle'
  'cmd-t cmd-f': 'platformio-ide-terminal:fullscreen'
  'cmd-t cmd-x': 'platformio-ide-terminal:close'
  'cmd-t cmd-i': 'platformio-ide-terminal:insert-selected-text'
  'cmd-t cmd-n': 'platformio-ide-terminal:new'
  'cmd-t cmd-r': 'platformio-ide-terminal:rename'

# 'atom-workspace-axis':
#   'space space':  'command-palette:toggle'

'atom-text-editor.vim-mode-plus:not(.insert-mode), atom-panel-container:not(.panes)':
  # Emulate som Spacemacs keybindings -----
  'space \'': 'platformio-ide-terminal:toggle'
  'space space':  'command-palette:toggle'
  'space 1': 'pane:show-item-1'
  'space 2': 'pane:show-item-2'
  'space 3': 'pane:show-item-3'
  'space 4': 'pane:show-item-4'
  'space 5': 'pane:show-item-5'
  'space 6': 'pane:show-item-6'
  'space 7': 'pane:show-item-7'
  'space 8': 'pane:show-item-8'
  'space 9': 'pane:show-item-9'
  'space ; ;': 'editor:toggle-line-comments'

  # +compile/comments
  'space c l': 'editor:toggle-line-comments'
  'space c y': 'keystroke y y space c l'
  # +buffers
  'space b b': 'fuzzy-finder:toggle-buffer-finder'
  'space b d': 'core:close' # buffer delete
  'space b p': 'vim-mode-plus:previous-tab'
  'space b n': 'vim-mode-plus:next-tab'
  'space b c': 'advanced-open-file:toggle'
  'space b m': 'tabs:close-other-tabs'
  # debugger
  'space d b': 'debugger:toggle-breakpoint'
  'space d c': 'debugger:continue-debugging'
  'space d o': 'debugger:step-over'
  'space d i': 'debugger:step-into'
  'space d I': 'debugger:step-out'
  'space d r': 'debugger:restart-debugging'
  'space d s': 'debugger:stop-debugging'
  # lint / annotations
  'space e n': 'diagnostics:go-to-next-diagnostic'
  'space e p': 'diagnostics:go-to-previous-diagnostic'
  'space e N': 'diagnostics:go-to-previous-diagnostic'
  'space e b': 'linter:lint'
  'space e t': 'diagnostics:toggle-table'
  'space e l': 'diagnostics:toggle-table'
  'space e w': 'diagnostics:show-actions-at-position'
  # +files
  'space f f': 'fuzzy-finder:toggle-file-finder'
  'space f F': 'fuzzy-finder:toggle-file-finder'
  'space f n': 'advanced-open-file:toggle'
  'space f r': 'recent-finder:toggle'
  'space f R': 'tree-view:rename'
  'space f s': 'core:save'
  'space f S': 'window:save-all'
  'space f t': 'tree-view:reveal-active-file'
  'space f y': 'editor:copy-path'
  'space f Y': 'copy-file-contents:copy'
  'space f C d': 'line-ending-selector:convert-to-CRLF'
  'space f C u': 'line-ending-selector:convert-to-LF'
  'space f e d': 'application:show-settings'
  'space f e k': 'application:open-your-keymap'
  'space f e t': 'settings-view :change-themes'
  'space f e p': 'settings-view:view-installed-packages'
  'space f e i': 'window:toggle-dev-tools'
  # +git
  'space g a': 'git-plus:add'
  'space g A': 'git-plus:add-all'
  'space g b': 'git-plus:new-branch'
  'space g B': 'git-blame:toggle'
  'space g c': 'git-plus:commit'
  'space g d': 'git-plus:rm'
  'space g f': 'git-plus:fetch'
  'space g F': 'git-plus:pull'
  'space g p': 'git-plus:push'
  'space g P': 'github:force-push'
  'space g l': 'git-plus:log'
  'space g o': 'git-plus:open'
  'space g s': 'git-plus:status'
  'space g h B': 'open-on-github:blame'
  'space g h i': 'open-on-github:issues'
  'space g h p': 'open-on-github:pull-requests'
  'space g h b': 'open-on-github:branch-compare'
  'space g g y': 'open-on-github:copy-url'
  # +help
  'space h w': 'dash:shortcut'
  'space h s': 'ask-stack:ask-question'
  # +jumpy
  'space j w': 'easy-motion-redux:words_starting'
  'space j j': 'easy-motion-redux:letter'
  'space j m': 'bookmarks:toggle-bookmark'
  'space j c': 'bookmarks:clear-bookmarks'
  'space j n': 'bookmarks:jump-to-next-bookmark'
  'space j p': 'bookmarks:jump-to-previous-bookmark'
  # +links
  'space l o': 'link:open'
  # +narrow/numbers
  'space n ,': 'core:page-up'
  'space n .': 'core:page-down'
  'space n l': 'narrow:lines'
  'space n f': 'narrow:fold'
  'space n s c': 'narrow:search-current-project'
  'space n s s': 'narrow:search'
  'space n c': 'narrow:focus'
  'space o': 'narrow:fold'
  # +projects
  'space p /': 'project-find:show'
  'space p b': 'fuzzy-finder:toggle-buffer-finder'
  'space p d': 'project-plus:close'
  'space p f': 'fuzzy-finder:toggle-file-finder'
  'space p l': 'project-plus:open'
  'space p p': 'project-plus:toggle-project-finder'
  'space p s': 'project-plus:save'
  'space p r': 'recent-files-fuzzy-finder:toggle-finder'
  'space p t': 'tree-view:toggle'
  # +quit
  'space q q': 'application:quit'
  'space q r': 'window:reload'
  # +search/symbols
  'space s a p': 'fuzzy-grep:toggle'
  'space s e': 'find-and-replace:select-all'
  'space s f': 'find-and-replace:show'
  'space s F': 'project-find:show'
  'space s s': 'fuzzy-grep:toggleLastSearch'
  # +UI toggles/themes
  'space T F': 'window:toggle-full-screen'
  'space T P': 'markdown-preview:toggle'
  'space T p': 'command-palette:toggle'
  'space T s': 'settings-view:change-themes'
  # +toggles
  'space t b': 'debugger:toggle-breakpoint'
  'space t f': 'window:toggle-full-screen'
  'space t g s': 'github:toggle-git-tab-focus'
  'space t g S': 'github:toggle-git-tab'
  'space t h s': 'github:toggle-github-tab-focus'
  'space t h S': 'github:toggle-github-tab'
  'space t h l': 'highlight-line:toggle-background'
  'space t i': 'editor:toggle-indent-guide'
  'space t I': 'window:toggle-auto-indent'
  'space t n': 'editor:toggle-line-numbers'
  'space t o': 'outline-view:toggle'
  'space t r': 'golden-ratio:toggle'
  'space t s': 'status-bar:toggle'
  'space t t': 'tree-view:toggle'
  'space t v': 'window:toggle-invisibles'
  'space t w': 'editor:toggle-soft-wrap'
  'space t z': 'zen:toggle'
  # +windows
  'space w -': 'pane:split-down-and-copy-active-item'
  'space w /': 'pane:split-right-and-copy-active-item'
  'space w 1': 'pane:show-item-1'
  'space w 2': 'pane:show-item-2'
  'space w 3': 'pane:show-item-3'
  'space w 4': 'pane:show-item-4'
  'space w 5': 'pane:show-item-5'
  'space w 6': 'pane:show-item-6'
  'space w 7': 'pane:show-item-7'
  'space w 8': 'pane:show-item-8'
  'space w 9': 'pane:show-item-9'
  'space w d': 'core:close'
  'space w f': 'window:toggle-full-screen'
  'space w h': 'focus-pane-or-panel:focus-on-left'
  'space w j': 'focus-pane-or-panel:focus-below'
  'space w k': 'focus-pane-or-panel:focus-above'
  'space w l': 'focus-pane-or-panel:focus-on-righ'
  'space w s': 'pane:split-down-and-copy-active-item'
  'space w v': 'pane:split-right-and-copy-active-item'
  # +text
  'space x U': 'editor:upper-case'
  'space x u': 'editor:lower-case'
  'space x j': 'editor:move-line-down'
  'space x k': 'editor:move-line-up'
  'space x J': 'editor:move-line-down'
  'space x K': 'editor:move-line-up'
  'z =': 'spell-check:correct-misspelling'
  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'
  'ctrl-h': 'focus-pane-or-panel:focus-on-left'
  'ctrl-l': 'focus-pane-or-panel:focus-on-right'

'.platformio-ide-terminal .terminal':
  'space': 'native!'

'.github-CommitView':
  'space': 'native!'

'.github-StagingViewi, .github-Dialog':
  'ctrl-j': 'core:focus-next'
  'ctrl-k': 'core:focus-previous'

'.github-FilePatchView':
  'ctrl-j': 'github:select-next-hunk'
  'ctrl-k': 'github:select-previous-hunk'

'atom-text-editor.vim-mode-plus.insert-mode':
  'j k': 'keystroke escape'

'atom-text-editor.vim-mode-plus.visual-mode:not(.has-selection)':
  'j k': 'keystroke escape' # jk to escape§

'atom-panel-container.modal, atom-panel-container.bottom, .terminal, .tree-view-dialog atom-text-editor[mini]':
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'
  'j k': 'core:escape'

'.fuzzy-finder atom-text-editor[mini], .project-finder atom-text-editor[mini], .autocomplete-active':
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'
  'j k': 'keystroke escape'

'atom-text-editor.vim-mode-plus.insert-mode:not(.autocomplete-active)':
  'ctrl-j': 'autocomplete-plus:activate'
  'ctrl-k': 'autocomplete-plus:activate'

'.tree-view':
  'c': 'tree-view:add-file'
  'd': 'tree-view:remove'
  'ctrl-h': 'focus-pane-or-panel:focus-on-left'
  'ctrl-l': 'focus-pane-or-panel:focus-on-right'

# for cmd-f panel
'.platform-darwin .find-and-replace atom-text-editor':
  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'

# for cmd-shift-f panel
'.platform-darwin .project-find atom-text-editor':
  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'

# normal
# -------------------------
'atom-text-editor.vim-mode-plus.normal-mode':
  's': 'unset!'
  'y s': 'vim-mode-plus:surround'

  # 'd s': 'vim-mode-plus:delete-surround-any-pair'
  'd s': 'vim-mode-plus:delete-surround'

  # 'c s': 'vim-mode-plus:change-surround-any-pair'
  'c s': 'vim-mode-plus:change-surround'

# operator-pending only when surround-pending
# -------------------------
'atom-text-editor.vim-mode-plus.operator-pending-mode.surround-pending':
  's': 'vim-mode-plus:inner-current-line'

# visual
# -------------------------
'atom-text-editor.vim-mode-plus.visual-mode:not(.insert-mode)':
  's': 'vim-mode-plus:surround'

# Haskell specific bindings (trying to match Spacemacs haskell layer)
'atom-text-editor.vim-mode-plus:not(.insert-mode)[data-grammar="source haskell"]':
  # haskell/documentation
  'space m h h': 'ide-haskell-hoogle:show-web-doc-for-symbol'
  'space m h H': 'ide-haskell-hoogle:show-web-doc-for-symbol'
  'space m h t': 'haskell-ghc-mod:show-type'
  'space m h i': 'haskell-ghc-mod:show-type-and-info'
  'space m h T': 'haskell-ghc-mod:insert-type'
  'space m h I': 'haskell-ghc-mod:show-info'
  # haskell/navigation
  'space m g g': 'haskell-ghc-mod:go-to-declaration' # or 'ide-haskell-hasktags:go-to-declaration'
  'space m g b': 'ide-haskell-hasktags:go-back'
  'space m g t': 'ide-haskell-hasktags:show-tags'
  'space m g f': 'ide-haskell-hasktags:show-file-tags'
  # haskell/repl
  'space m s b': 'ide-haskell-repl:toggle'
  # haskell/refactor
  'space m r s': 'haskell-ghc-mod:sig-fill'
  'space m r i': 'haskell-ghc-mod:insert-import'
  'space m r c': 'haskell-ghc-mod:case-split'
  'space m r C': 'haskell-ghc-mod:check-file'
  'space m r L': 'haskell-ghc-mod:lint-file'
  'space m r p': 'haskell-pointfree:toggle'
